html {
}

body {
  overflow: auto;
}

section {
    width: 100%;
    height: 100%;
}
#edit-section{
  z-index: 999;
}
.full-image {
    position: relative;

    width: 100%;
    height: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    background-position: top center;
}

.hidden-overflow {
  overflow: hidden;
}

.pc {
  position: inherit;
  top: inherit;
  left: inherit;
  bottom: inherit;
  right: inherit;
  margin-left: 250px;
  margin-top: 150px;
}

.ipad {
  width: 1024px;
  height: 768px;
}

#ipad-pic {
  position: absolute;
  width: 1282.46628131px;
  height: 864.492307692px;
  left: 110px;
  top: 465px;
  z-index: 999;
}

.iphone-5 {
  width: 1136px;
  height: 640px;
}

#iphone-5-pic {
  position: absolute;
  width: 1424.736031px;
  height: 722.410256px;
  left: 95px;
  top: 485px;
  z-index: 999;
}


