html {
}

body {
  overflow: auto;
}

table {
  width: 780px;
}

section {
    width: 100%;
    height: 100%;
}
#edit-section{
  z-index: 999;
}
.full-image {
    position: relative;

    width: 100%;
    height: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    background-position: top center;
}

body {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}

.singalong {
  font-size: 35px;
}

.overlay-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.highlight-text {
  background-repeat: repeat;
  background-position: 100% 0px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@-webkit-keyframes stripes {
  100% {
    background-position: 0% 0px;
  }
}

.overlay-transparency{
  background: rgba(120, 223, 235, 0.5);
}

.overlay-highlighting .overlay-text{
  background: rgba(255, 0, 0, 0.5);
}

.hidden-overflow {
  overflow: hidden;
}

#device-area{
  position: absolute;
  top: 0px;
  left: 850px;
  bottom: inherit;
  right: inherit;
  margin-left: 250px;
  margin-top: 150px;
}

.ipad {
  width: 1024px;
  height: 768px;
}

#ipad-pic {
  position: relative;
  width: 1282.46628131px;
  height: 864.492307692px;
  left: -139px;
  top: -51px;
  z-index: 999;
}

.iphone-5 {
  width: 568px;
  height: 320px;
}

#iphone-5-pic {
  position: relative;
  width: 712px;
  height: 361px;
  left: -77px;
  top: -20px;
  z-index: 999;
}


